*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*Utilities*/

[class*="col-"] {
    height: 2.5rem;
    background-color: #006cfa;
    color: white;
    border: 1px solid white;
    text-align: center;
}